<template>
  <div class="y-search">
    <div class="y-header">
      <Tabs>
        <TabPane label="全部" icon="ios-albums">
          <Form ref="formInline" :model="formInline" inline label-position="right" @submit.native.prevent>
            <!-- suffix="ios-search" -->
            <FormItem>
              <Input
                v-model="formInline.ticker"
                placeholder="请输入产品名称/代码"
                style="width: 200px"
                autofocus
                @keyup.native.enter="clickInput"
              />
            </FormItem>
            <FormItem>
              <Button @click="clickInput" type="success">搜索</Button>
            </FormItem>
          </Form>
          <tableAndPage
            :columns="columns"
            :tableData="tableData"
            :Total_Count="Total_Count"
            @changeTable="goTo"
          ></tableAndPage>
          <div class="heat">
            <Button @click="heat" size="small" type="error">热度</Button>
          </div>
        </TabPane>
        <TabPane label="重销" icon="md-barcode">内容</TabPane>
      </Tabs>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { findPageHotItem, findPageHotItemDetail } from "@/api/getData";
import { sset } from "@/utils";
import { Message } from "iview";
import TableAndPage from "@/components/tableAndPage/index.vue";
interface Par {
  index: number;
  row: {
    upd_timestamp: string;
    inst_code?: string;
    user_fname?: string | undefined;
  };
  columns?: object;
}
interface Goto {
  e: number;
  flag?: boolean;
}
interface Page {
  pageNum: number;
  pageSize: number;
  inst_code?: string;
  code?: string;
  orderhot?: string;
  ordercount?: string;
}
@Component({
  components: {
    TableAndPage
  }
})
export default class User extends Vue {
  private formInline!: {
    ticker: string;
  };
  private modalShowOrFalse!: boolean;
  private columns!: Array<object>; //首页中表头
  private tableData!: Array<object>; //首页中表格
  private Total_Count!: number; //首页中总条数
  private page!: Page; //首页中首次请求
  private flag!: boolean;
  private data() {
    return {
      modalShowOrFalse: false,
      formInline: {
        ticker: null
      },
      columns: [
        {
          title: "产品名称",
          key: "inst_name",
          width: 200,
          align: "left"
        },
        {
          title: "产品热度",
          key: "hot",
          width: 200,
          align: "center",
          sortable: true
        },
        {
          title: "匹配人数",
          key: "count",
          width: 200,
          align: "center",
          sortable: true
        },
        {
          title: "操作",
          key: "action",
          width: 200,
          align: "center",
          render: (h: Function, params: Par) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.show(params);
                    }
                  }
                },
                "全景"
              )
            ]);
          }
        }
      ],
      page: {
        pageNum: 1,
        pageSize: 10,
        inst_code: ""
        // ordercount: "asc",
        // orderhot: "asc"
      },
      tableData: [],
      Total_Count: null,
      flag: true
    };
  }
  private async getData() {
    let page = this.page;
    let data = await findPageHotItem(page);
    if (data.status == 200) {
      this.tableData = data.data.data;
      this.Total_Count = data.data.total;
    } else Message.warning("请求错误");
  }
  private goTo(e: number | Goto) {
    if (typeof e == "object") {
      this.page.pageSize = e["e"];
      this.page.pageNum = 1;
    } else this.page.pageNum = e;
    this.getData();
  }
  private async show(e: Par) {
    let code = e.row.inst_code || "";
    sset("AI_code", code);
    this.page.code = code || "";
    let obj = Object.assign({}, this.page);
    let data = await findPageHotItemDetail(obj);
    if (data.data.status == 200) {
      this.$nextTick(() => {
        this.$router.push({
          name: "matchUser",
          params: {
            tableData: data.data.data,
            Total_Count: data.data.total
          }
        });
      });
    } else Message.warning(data.data.msg);
  }
  private clickInput() {
    if (this.formInline.ticker == "") {
      this.$Message.warning("请输入产品名称/代码");
      return;
    } else {
      this.page.inst_code = this.formInline.ticker;
      this.getData();
    }
  }
  private created() {
    this.getData();
  }
  private heat() {
    if (this.flag) {
      delete this.page.ordercount;
      this.page.orderhot = "asc";
      this.getData();
      this.flag = false;
    } else {
      delete this.page.orderhot;
      this.page.ordercount = "asc";
      this.getData();
    }
  }
}
</script>
<style lang="scss">
.resetButton {
  margin-left: 20px;
}
.heat {
  position: absolute;
  top: 67px;
  left: 336px;
}
</style>
