<template>
  <div class="y-search">
    <div class="y-header">
      <Form ref="formInline" :model="formInline" inline label-position="right">
        <FormItem>
          <InputNumber placeholder="输入ID" v-model="formInline.ticker"/>
        </FormItem>
        <FormItem>
          <Button type="primary" @click="handleSubmit">查询</Button>
          <Button type="info" @click="reset('formInline')" class="resetButton">重置操作</Button>
        </FormItem>
      </Form>
    </div>
    <tableAndPage
      :columns="columns"
      :tableData="tableData"
      :Total_Count="Total_Count"
      @changeTable="goTo"
    ></tableAndPage>
  </div>
</template>
<script>
import { findPageItem } from "@/api/getData";
import TableAndPage from "@/components/tableAndPage";
export default {
  components: {
    TableAndPage
  },
  data() {
    return {
      formInline: {
        ticker: null
        // date: [
        //   `${new Date().Format("yyyy-MM-dd")}`,
        //   `${new Date().Format("yyyy-MM-dd")}`
        // ]
      },
      columns: [
        {
          title: "序号",
          width: 100,
          key: "index",
          align: "center",
          render: (h, par) => {
            let self = this;
            return h(
              "div",
              (self.page.pageNum - 1) * self.page.pageSize + par.index + 1
            );
          }
        },

        {
          title: "inst_sno",
          key: "inst_sno",
          width: 100,
          align: "center"
        },
        {
          title: "iss_code",
          key: "iss_code",
          width: 200,
          align: "center"
        },
        {
          title: "inst_code",
          key: "inst_code",
          width: 200,
          align: "center"
        },
        {
          title: "inst_id",
          key: "inst_id",
          width: 200,
          align: "center"
        },
        {
          title: "inst_sname",
          key: "inst_sname",
          width: 200,
          align: "center"
        },
        {
          title: "inst_type",
          key: "inst_type",
          width: 200,
          align: "center"
        },
        {
          title: "inst_cls",
          key: "inst_cls",
          width: 200,
          align: "center"
        },
        {
          title: "iss_stat",
          key: "iss_stat",
          width: 200,
          align: "center"
        },
      ],
      tableData: [],
      page: {
        pageNum: 1,
        pageSize: 10
        // from_Date: `${new Date().Format("yyyy-MM-dd")}`,
        // to_Date: `${new Date().Format("yyyy-MM-dd")}`
      },
      copyPage: {},
      Total_Count: null
    };
  },
  mounted: function() {
    this.$nextTick(() => {
      this.copyPage = JSON.parse(JSON.stringify(this.page));
      this.getData();
    });
  },
  methods: {
    handleSubmit() {
      let self = this;
      let data = Object.assign({}, this.formInline);
      self.page.user_code = data.ticker;
      //   self.page.from_Date = data.date[0].Format("yyyy-MM-dd");
      //   self.page.to_Date = data.date[1].Format("yyyy-MM-dd");
      self.getData();
    },
    async getData() {
      let data = Object.assign({}, this.page);
      const d = await findPageItem(data);
      if (d.status == 200) {
        this.tableData = d.data.data;
        this.Total_Count = d.data.total;
      } else this.$Message.warning(d.statusText);
    },
    goTo(e) {
      if (typeof e == "object") {
        this.page.pageSize = e.e;
        this.page.pageNum = 1;
      } else this.page.pageNum = e;
      this.getData();
    },
    reset() {
      this.page = this.copyPage;
      this.getData();
    }
  }
};
</script>
<style lang="scss">
.resetButton {
  margin-left: 20px;
}
</style>
