<template>
  <div>
    <Modal ref="myModal" v-model="visible" width="600" class-name="vertical-center-modal">
      <p slot="header">
        <span>产品匹配</span>
      </p>
      <div class="content">
        <div class="modalHeader">
          <ul v-for="(item,index) in list" :key="index">
            <li>
              <span class="left">{{`${item.key} :`}}</span>
              <span class="right">{{`${item.value}`}}</span>
            </li>
          </ul>
        </div>
        <div class="modalContent common">
          <h3>推荐理由</h3>
          <ul>
            <li>1.lorem</li>
            <li>2.lorem</li>
            <li>3.lorem</li>
          </ul>
        </div>
        <div class="modalfooter common">
          <h3>推荐优秀话术</h3>
          <ul>
            <li>1.您好,***********</li>
            <li>2.您好,***********</li>
            <li>2.您好,***********</li>
          </ul>
        </div>
      </div>
    </Modal>
  </div>
</template>
<script>
export default {
  name: "myModal",
  props: {
    value: {
      type: Boolean,
      default: false
    },
    list: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      visible: this.value
      //   list: [
      //     {
      //       key: "客户姓名",
      //       value: "任占东"
      //     },
      //     {
      //       key: "匹配分",
      //       value: 100
      //     },
      //     {
      //       key: "总资产",
      //       value: "100.00万"
      //     },
      //     {
      //       key: "风险等级",
      //       value: "C3"
      //     },
      //     {
      //       key: "可用资金",
      //       value: "10000.00万"
      //     }
      //   ]
    };
  },
  watch: {
    value(val) {
      this.visible = val;
    },
    visible(val) {
      if (!val) this.$emit("input", false);
    }
  }
};
</script>
<style lang="scss" scoped>
.content {
  font-size: 14px;
}
.modalHeader li {
  padding-bottom: 10px;
}
.left {
  display: inline-block;
  width: 80px;
  text-align: right;
}
.right {
  padding-left: 20px;
}
div.common {
  border-top: 1px solid #ccc;
  padding: 10px 20px;
}
</style>

