<template>
  <div class="layout">
    <Layout>
      <Header>
        <Menu mode="horizontal" theme="dark" active-name="1">
          <div class="layout-logo">
            <img src="../assets/logo.png" />
          </div>
        </Menu>
      </Header>
      <Layout>
        <Sider hide-trigger :style="{background: '#fff'}">
          <Menu
            @on-select="menuSelect"
            :active-name="activeName"
            theme="light"
            width="auto"
            ref="side_menu"
            :open-names="['1']"
            :accordion="accordion"
          >
            <template v-for="(s,i) in menuList">
              <MenuItem v-if="!s.menu" :name="s.name" :key="i">
                <Icon :type="s.icon" />
                {{s.text}}
              </MenuItem>
            </template>
          </Menu>
        </Sider>
        <Content class="main-content-con">
          <Layout class="main-layout-con">
            <div class="tag-nav-wrapper">
              <!-- <tags-nav :value="$route" @input="handleClick" :list="tagNavList" @on-close="handleCloseTag"/> -->
            </div>
            <Content class="content-wrapper">
              <!-- <keep-alive :include="cacheList"> -->
              <router-view />
              <!-- </keep-alive> -->
            </Content>
          </Layout>
        </Content>
        <!-- <Layout :style="{padding: '0px 0px 0 10px'}">
          <Content>
            <router-view></router-view>
          </Content>
        </Layout>-->
      </Layout>
    </Layout>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Provide } from "vue-property-decorator";
import { sset, sget } from "@/utils";
// import TagsNav from "@/components/tags-nav";
@Component({
  //   components: {
  //     TagsNav
  //   }
})
export default class User extends Vue {
  private menuList: Object = {};
  private activeName!: string;
  private accordion!: boolean;
  public data() {
    return {
      accordion: true,
      activeName: "user",
      menuList: [
        {
          text: "用户",
          icon: "md-contacts",
          name: "user"
        },
        {
          text: "商品",
          icon: "ios-calendar",
          name: "commodity"
        },
        {
          text: "经济人",
          icon: "md-contact",
          name: "economic"
        },
        {
          text: "AI",
          icon: "md-thunderstorm",
          name: "AI"
        }
      ]
    };
  }
  private menuSelect(e: string) {
    sset("activeName", e);
    this.$router.push({
      name: e
    });
  }
  mounted() {
    let active_name = sget("activeName");
    if (active_name) {
      this.activeName = active_name || "user";
    }
    this.$nextTick(() => {
      let innerHeith = window.innerHeight;
      let height = (this.$el.querySelector(".ivu-layout-header") as any)
        .clientHeight;
      (this.$el.querySelector(".ivu-layout-has-sider") as any).style.height =
        innerHeith - height - 20 + "px";
    });
  }
  //   private get tagNavList():any{

  //   }
}
</script>
<style lang="scss">
.layout-logo {
  height: 30px;
  float: left;
  position: relative;
  vertical-align: middle;
  img {
    vertical-align: middle;
  }
}
.layout {
  height: 100%;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.layout-nav {
  width: 420px;
  margin: 0 auto;
  margin-right: 10px;
  min-height: 100%;
}

.ivu-layout {
  height: 100%;
  background-color: #eee;

  &-header {
    background-color: #fff;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  }
}

.ivu-layout.ivu-layout-has-sider {
  margin-top: 10px;
}

.ivu-menu-dark {
  background-color: #fff;
}

.ivu-layout-content {
  background-color: #fff;
  padding: 15px 15px 0 15px;
}
.ivu-layout-sider {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}
.ivu-layout-sider-children {
  border-right: 1px solid #ccc;
}
</style>