<template>
  <div>
    <div class="y-body">
      <Table border stripe :columns="columns" :data="tableData"></Table>
    </div>
    <div class="y-footer">
      <Page
        :total="Total_Count"
        :page-size-opts="pageSizeOpts"
        show-sizer
        show-elevator
        @on-change="goTo"
        @on-page-size-change="showSize"
        show-total
      />
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
@Component({})
export default class TableAndPage extends Vue {
  @Prop() private columns!: Array<object>;
  @Prop() private tableData!: Array<object>;
  @Prop() private Total_Count!: number;
  @Prop() private pageSizeOpts?: Array<number>;
  private goTo(e: string) {
    this.$emit("changeTable", e);
  }
  private showSize(e: string) {
    this.$emit("changeTable", { e, flag: true });
  }
}
</script>
<style lang="scss" scoped>
.y-footer {
  //   position: absolute;
  //   right: 0;
  margin-top: 20px;
  float: right;
}
</style>