<template>
  <div class="y-search">
    <div class="y-header">
      <!-- <Form ref="formInline" :model="formInline" inline label-position="right"> -->
      <Form ref="formInline" inline label-position="right">
        <FormItem>
          <InputNumber placeholder="输入ID" v-model="formInline.ticker" style="width:150px;" />
        </FormItem>
        <FormItem>
          <Button type="primary" @click="handleSubmit">查询</Button>
          <Button type="info" @click="reset" class="resetButton">重置操作</Button>
        </FormItem>
      </Form>
    </div>
    <tableAndPage
      :columns="columns"
      :tableData="tableData"
      :Total_Count="Total_Count"
      @changeTable="goTo"
    ></tableAndPage>
    <tableTwoModel
      :tableDataModel="tableDataModel"
      :tableModelContent="tableModelContent"
      v-model="tableModalShowOrFalse"
    ></tableTwoModel>
    <tableOneModel :tableContent="tableContent" v-model="tableModal" :tableModel="tableModel" />
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { findPageUser, findOneUser, findUserOrderPredict } from "@/api/getData";
import { Format } from "@/utils";
import TableAndPage from "@/components/tableAndPage/index.vue";
import TableTwoModel from "@/components/tableModel/indexTwo.vue";
import TableOneModel from "@/components/tableModel/indexOne.vue";
interface Page {
  pageNum: number;
  pageSize: number;
  user_code?: string;
}
interface Par {
  index: number;
  row: {
    upd_timestamp: string;
    user_code?: string;
    user_fname?: string;
  };
  columns?: object;
}
interface Goto {
  e: number;
  flag?: boolean;
}
@Component({
  components: {
    TableAndPage,
    TableTwoModel,
    TableOneModel
  }
})
export default class User extends Vue {
  private formInline!: {
    ticker: string;
  };
  private columns!: Array<object>; //首页中表头
  private tableData!: Array<object>; //首页中表格
  private tableContent!: string; //用户详情中的模态框名称
  private tableModelContent!: string; //用户详情中的模态框名称
  private tableModel!: {
    columns: Array<object>;
    tableData: Array<object>;
  }; //用户详情中的模态框名称
  private tableDataModel!: [
    {
      columns: Array<object>;
      tableData: Array<object>;
    },
    {
      columns: Array<object>;
      tableData: Array<object>;
    }
  ];
  private Total_Count!: number; //首页中总条数
  private page!: Page; //首页中首次请求
  private copyPage!: Page; //首页中重置操作
  private tableModal!: boolean; //用户详情显示隐藏
  private tableModalShowOrFalse!: boolean; //购买详情显示隐藏
  private data() {
    return {
      formInline: {
        ticker: null
      },
      tableModel: {
        columns: [
          {
            title: "日期",
            key: "upd_timestamp",
            width: 100,
            align: "center",
            render: (h: Function, params: Par) => {
              console.log(params);
              return h("div", [
                h("span", {
                  domProps: {
                    innerHTML: `${Format(
                      new Date(params.row.upd_timestamp),
                      "yyyy-MM-dd"
                    )}`
                  }
                })
              ]);
            }
          },
          {
            title: "用户ID",
            key: "user_code",
            width: 100,
            align: "center"
          },
          {
            title: "用户名称",
            key: "user_fname",
            width: 100,
            align: "center"
          },
          {
            title: "未知",
            key: "ppn_tmstamp",
            width: 100,
            align: "center"
          },
          {
            title: "未知",
            key: "modify_datetime",
            width: 100,
            align: "center"
          }
        ],
        tableData: []
      },
      columns: [
        {
          title: "序号",
          width: 100,
          key: "index",
          align: "center",
          render: (h: Function, par: Par) => {
            let self = this;
            return h(
              "div",
              (self.page.pageNum - 1) * self.page.pageSize + par.index + 1
            );
          }
        },

        {
          title: "日期",
          key: "upd_timestamp",
          width: 100,
          align: "center",
          render: (h: Function, params: Par) => {
            return h("div", [
              h("span", {
                domProps: {
                  innerHTML: `${Format(
                    new Date(params.row.upd_timestamp),
                    "yyyy-MM-dd"
                  )}`
                }
              })
            ]);
          }
        },
        {
          title: "ID",
          key: "user_code",
          width: 200,
          align: "center"
        },
        {
          title: "用户名称",
          key: "user_fname",
          width: 200,
          align: "center"
        },
        {
          title: "操作",
          key: "action",
          width: 200,
          align: "center",
          render: (h: Function, params: Par) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.show(params);
                    }
                  }
                },
                "用户详细"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "success",
                    size: "small"
                  },
                  on: {
                    click: () => {
                      this.buyMore(params);
                    }
                  }
                },
                "购买详细"
              )
            ]);
          }
        }
      ],
      tableData: [],
      Total_Count: null,
      page: {
        pageNum: 1,
        pageSize: 10
      },
      copyPage: {},
      tableContent: "用户详情",
      tableModal: false,
      tableModalShowOrFalse: false,
      tableModelContent: "",
      tableDataModel: [
        {
          columns: [
            {
              title: "近12个月购买记录",
              align: "center",
              children: [
                {
                  title: "用户ID",
                  key: "user_code",
                  align: "center",
                  width: 150
                },
                {
                  title: "类别ID",
                  key: "itemcls",
                  align: "center",
                  width: 100
                },
                {
                  title: "购买数量",
                  key: "buycount",
                  align: "center",
                  width: 180,
                  sortable: true
                },
                {
                  title: "类别名称",
                  key: "dd_item_name",
                  align: "center",
                  width: 175,
                  sortable: true
                }
              ]
            }
          ],
          tableData: []
        },
        {
          columns: [
            {
              title: "模型推荐",
              align: "center",
              children: [
                {
                  title: "用户ID",
                  key: "user_code",
                  align: "center",
                  width: 150
                },
                {
                  title: "类别ID",
                  key: "itemcls",
                  align: "center",
                  width: 100
                },
                {
                  title: "类别名称",
                  key: "dd_item_name",
                  align: "center",
                  width: 175,
                  sortable: true
                },
                {
                  title: "预测评分",
                  key: "score",
                  align: "center",
                  width: 180
                }
              ]
            }
          ],
          tableData: []
        }
      ]
    };
  }
  private reset() {
    this.page = this.copyPage;
    this.getData();
  }
  private handleSubmit() {
    let data = Object.assign({}, this.formInline);
    this.page.user_code = data.ticker;
    this.getData();
  }
  private async buyMore(e: Par) {
    this.tableModelContent = `用户编号:${e.row.user_code}     用户姓名:${e.row.user_fname}`;
    const d = await findUserOrderPredict({ user_code: e.row.user_code });
    if (d.status == 200) {
      let l = d.data.data;
      let data = l.typeBuy.map((it: any) => {
        return {
          code: it.user_code,
          cls: it.itemcls,
          count: it.buycount,
          item_name: it.dd_item_name
        };
      });
      let typeData = l.typePredict.map((it: any) => {
        return {
          code: it.user_code,
          cls: it.itemcls,
          scor: it.score,
          item_name: it.dd_item_name
        };
      });
      this.tableDataModel[0].tableData = l.clsBuy.map(
        (it: any, index: number) => {
          return Object.assign(it, data[index]);
        }
      );
      this.tableDataModel[1].tableData = l.clsPredict.map(
        (it: any, index: number) => {
          return Object.assign(it, typeData[index]);
        }
      );
      this.$nextTick(() => {
        this.tableModalShowOrFalse = true;
      });
    } else this.$Message.error("请求错误");
  }
  private async show(e: Par) {
    const d = await findOneUser({ user_code: e.row.user_code });
    if (d.status == 200) {
      this.tableModel.tableData = [d.data.data];
    } else this.$Message.error("请求错误");
    this.$nextTick(() => {
      this.tableModal = true;
    });
  }
  goTo(e: number | Goto) {
    if (typeof e == "object") {
      this.page.pageSize = e["e"];
      this.page.pageNum = 1;
    } else this.page.pageNum = e;
    this.getData();
  }
  private async getData() {
    let data = Object.assign({}, this.page);
    let d = await findPageUser(data);
    if (d.status == 200) {
      this.tableData = d.data.data;
      this.Total_Count = d.data.total;
    } else this.$Message.warning(d.data.msg);
  }
  created() {
    this.getData();
    this.$nextTick(() => {
      this.copyPage = JSON.parse(JSON.stringify(this.page));
    });
  }
}
</script>
<style lang="scss">
.resetButton {
  margin-left: 20px;
}
</style>
